@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
:root {
  --color-white: #dddfbb;
  --color-dark1: #30341c;
  --color-dark2: #404622;
  --color-dark3: #788147;
  --color-dark4: #191b10;
  --color-dark5: #30341c;
  --color-purple: #dddfbb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: white;
  color: white;
}

img {
  width: 100%;
}

@font-face {
  font-family: "remington";
  src: url(../fonts/VintageRemington.ttf);
}
@font-face {
  font-family: "whisholder";
  src: url(../fonts/Whisholder.ttf);
}
.img_logo_header {
  width: 90px;
}

.header,
.navigation_header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  background-color: #30341c;
  justify-content: space-between;
  padding: 0 2%;
  height: 6em;
}

.navigation_header {
  gap: 1em;
  z-index: 2;
}

.content {
  padding-top: 5em;
  text-align: center;
  height: 100vh;
  transition: 0.4s;
}

.navigation_header a {
  text-decoration: none;
  color: #dddfbb;
  transition: 0.5s;
  font-family: "remington";
  font-size: 1.7rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}
.navigation_header a:hover {
  color: #788147;
}

.active {
  background: #191b10;
  padding: 10px;
  border-radius: 10px;
}

.btn_icon_header {
  background: transparent;
  border: none;
  color: #dddfbb;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  .navigation_header {
    position: absolute;
    flex-direction: column !important;
    top: 0;
    background: #30341c;
    height: 100%;
    width: 35vw;
    padding: 1em;
    animation-duration: 1s;
    margin-left: -100vw;
  }
  .btn_icon_header {
    display: block;
  }
}
@keyframes showSidebar {
  from {
    margin-left: -100vw;
  }
  to {
    margin-left: -10vw;
  }
}
:root {
  --mycolor: rgb(36, 84, 63);
}

footer {
  width: 100%;
  bottom: 0;
  background: #30341c;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #dddfbb;
  padding: 20px;
}

.text {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 30px auto;
}

footer input[type=email] {
  width: 50vw;
  font-size: 25px;
  padding: 10px;
  border-radius: 30px 0 0 30px;
  outline: none;
  border: none;
  color: #30341c;
}

footer input[type=submit] {
  border: none;
  outline: none;
  border-radius: 0 30px 30px 0;
  padding: 10px;
  color: #fff;
  background: var(--mycolor);
  font-size: 25px;
  cursor: pointer;
}

footer input:hover[type=submit] {
  background: #dddfbb;
}

.list-footer {
  margin: 30px auto;
  display: flex;
  list-style-type: none;
}

.list-footer li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}

.list-footer li a:hover {
  color: var(--mycolor);
}

.social-media i {
  padding: 10px;
  font-size: 25px;
  color: #fff;
}

.social-media i:hover {
  color: var(--mycolor);
}

@media (max-width: 810px) {
  .text, footer input[type=email],
  footer input[type=submit] {
    font-size: 20px;
  }
  .list-footer li a {
    padding: 15px;
    font-size: 15px;
  }
  .social-media i {
    padding: 10px;
  }
}
@media (max-width: 610px) {
  .text, footer input[type=email],
  footer input[type=submit] {
    font-size: 14px;
  }
  .list-footer li a {
    padding: 10px;
    font-size: 12px;
  }
  .social-media i {
    font-size: 15px;
  }
}
@media (max-width: 470px) {
  .text {
    font-size: 12px;
  }
  .list-footer li a {
    padding: 5px;
  }
}
@media (max-width: 330px) {
  .text {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  .banner-movil {
    display: none;
  }
  .card-container-movil {
    margin-top: 15rem;
  }
}
@media (min-width: 480px) {
  .banner-desktop {
    display: none;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15rem;
}

.card-container, .card-container-movil {
  color: white;
  width: 350px;
  height: 490px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.image-container {
  margin-bottom: 1.5rem;
}

.image-container img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}

.image-container img:hover {
  transform: rotate(-10deg);
  cursor: pointer;
}

.card {
  margin-top: 30px;
  margin: 20px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header h3 {
  font-size: 1.6rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 800;
  color: #30341c;
}

.card-header small {
  text-transform: capitalize;
  border: #30341c solid 1px;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.6rem;
  color: #30341c;
}

.card-body p {
  font-size: 0.9rem;
  color: #30341c;
}

.card-footer {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-footer a {
  color: #30341c;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
}

.card-footer button {
  border: none;
  color: rgb(54, 54, 54);
  font-size: 1rem;
  font-weight: 800;
  text-transform: capitalize;
  border-radius: 25px;
  padding: 6px 15px;
  cursor: pointer;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
