:root{
    --color-white: #dddfbb;
    --color-dark1: #30341c;
    --color-dark2: #404622;
    --color-dark3: #788147; 
    --color-dark4: #191b10;
    --color-dark5: #30341c;
    --color-purple: #dddfbb;
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-dark1);
    color: var(--color-white);
}
.img_logo_header{
    width: 90px;
}
.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: var(--color-dark2);
    justify-content: space-between;
    padding: 0 2%;
    height: 3.5em;
}
.navigation_header{
    gap: 1em;
    z-index: 2;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: .4s;
}
.navigation_header a{
    text-decoration: none;
    color: var(--color-purple);
    transition: .5s;
    font-family: "whisholder";
    font-size: 1.3rem;
    letter-spacing: .05rem;
}
.navigation_header a:hover{
    color: var(--color-white);
}
.active{
    background: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
}
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: var(--color-dark5);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    .btn_icon_header{
        display: block;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}

@font-face {
    font-family: "remington";
    src: url(./fonts/VintageRemington.ttf);
}

@font-face {
    font-family: "whisholder";
    src: url(./fonts/Whisholder.ttf);
}

img  {
    width: 100%;
}

